@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Cinzel&family=Cormorant+Garamond&family=Nanum+Myeongjo&display=swap");
/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Cinzel", "Bodoni Moda";
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  display: flex;
  padding: 0 20px;
}

.hero-container {
  height: 102vh;
  /* filter: brightness(85%); */
  position: relative;
  display: flex;
  flex-direction: column;

  background: url(../assets/images/hero-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 210px;
  left: 200px;
  width: 50%;
  color: white;
  letter-spacing: 2px;
}

h1 {
  font-size: 5.5rem;
  font-weight: 100;
}

.hero-text > span,
.discount-container > span,
.video-text > span,
.stylist > span,
.promo-app-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40px;
  font-size: 0.8em;
  background-color: black;
}

.hero-text > span {
  margin-top: 40px;
}

.discount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 35%;
  height: 250px;
  font-size: 0.8em;
  background-color: black;
  margin-top: 100px;
  padding: 20px;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.discount-container,
.hero-text > span {
  border-radius: 2px;
}

#discount-span {
  font-size: 2rem;
}

.discount-container > span {
  color: black;
  background-color: white;
  width: 70%;
  font-size: 1em;
}

/******************************************
/* SERVICES SECTION
/*******************************************/

.services-section {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-bottom: 100px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 250px;
  width: 30%;
  margin-top: 200px;
}

/******************************************
/* VIDEO SECTION
/*******************************************/

.video-section {
  background-color: rgb(241, 241, 243);
  display: flex;
  justify-content: space-evenly;
  padding: 50px 200px;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 45%;
  font-size: 1em;
  padding: 20px;
}

.video-text > span {
  color: white;
  width: 40%;
  border-radius: 2px;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
}

.video-thumbnail {
  position: relative;
  top: 0;
  left: 0;
  max-width: 500px;
}

.video-icon {
  position: absolute;
  top: 35%;
  left: 35%;
}

/******************************************
/* STYLIST SECTION
/*******************************************/

.stylist-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  padding: 100px;
}

.stylist {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.stylist > span {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 2;
  width: 80%;
  height: 80px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/******************************************
/* PROMOTIONAL SECTION
/*******************************************/

.offer-container {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;

  background: url(../assets/images/Promo-Banner-Image.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-bottom: 100px;
}

.promo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 200px;
  width: 40%;
  height: 300px;
  /* line-height: 3; */
  font-size: 1.5rem;
}

.promo-header {
  font-size: 1em;
}

.promo-p {
  font-size: 1.7em;
  margin: 30px 0;
}

.promo-span {
  font-size: 1.5em;
  font-weight: 700;
}

.promo-app-span {
  color: white;
  width: 55%;
  height: 50px;
  font-size: 0.8em;
}

/******************************************
/* LOOKBOOK SECTION
/*******************************************/
.lookbook-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  min-height: 100vh;
}

.lookbook-container h2 {
  font-size: 3rem;
}

.lookbook-container hr {
  width: 50px;
  height: 5px;
  background-color: black;
  margin: 20px auto;
}

.lookbook-images {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
}

.image-box {
  padding: 20px;
  display: grid;
  /* place-items: center; */
  transition: 0.5s;
}

.lookbook-img {
  position: relative;
  max-width: 400px;
  margin-bottom: 5px;
}

.mas-02,
.mas-03 {
  margin-top: -95%;
}

/* .lookbook-container {
  display: flex;
  flex-direction: column;
}


.lookbook-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100vw;
}

.lookbook-img {
  width: 30%;
  height: 100%;
}

.mas-01 {
  margin-bottom: 100px;
}

.mas-02,
.mas-03 {
  margin-top: -25%;
} */

/******************************************
/* FOOTER
/*******************************************/

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
