@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Cinzel&family=Cormorant+Garamond&family=Nanum+Myeongjo&display=swap");
/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Cinzel", "Bodoni Moda";
}

/******************************************
/* NAVBAR
/*******************************************/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.logo {
  margin: 2rem;
}

.mobile-nav-toggle {
  display: none;
}

.menu-icon {
  color: black;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  height: 80px;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0 0% 100% / 0.8);
}

.primary-navigation a {
  text-decoration: none;
  color: black;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

@media (max-width: 800px) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    padding: min(30vh, 10rem) 2em;

    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: white;
    border: none;
    width: 1rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
    z-index: 9999;
    font-size: 1.5rem;
  }

  /* .mobile-nav-toggle[aria-expanded = "true"]{

  } */
}

/******************************************
/* HERO CONTAINER
/*******************************************/

.hero-container {
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;

  background: url(../assets/images/hero-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  width: 100%;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 100;
}

.hero-text h1,
.hero-text > p {
  position: relative;
  align-self: center;
  text-align: center;
  padding-top: 50px;
  max-width: 250px;
  text-shadow: 2px 2px rgba(60, 59, 59, 0.5);
}

.discount-container > span,
.video-text > span,
.stylist > span,
.promo-app-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40px;
  font-size: 0.8em;
  background-color: black;
}

.discount-container {
  position: absolute;
  top: 175px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  max-width: 250px;
  height: 250px;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#discount-span {
  font-size: 2rem;
}

.discount-container > span {
  color: black;
  background-color: white;
  width: 100%;
  font-size: 1em;
}

@media (min-width: 700px) {
  .discount-container {
    align-self: flex-start;
    top: 300px;
    left: 50px;
  }
  .hero-text {
    top: 100px;
  }

  .hero-text h1,
  .hero-text > p {
    font-size: 1.5em;
    max-width: 50%;
    align-self: flex-start;
    text-align: left;
    text-shadow: 2px 2px rgba(60, 59, 59, 0);
    left: 50px;
  }

  .hero-text h1 {
    font-size: 4em;
  }
  .hero-container {
    height: 100vh;
  }
}

/******************************************
/* SERVICES SECTION
/*******************************************/

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 100px 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 200px;
  width: 80%;
  margin-top: 100px;
}

@media (min-width: 700px) {
  .services-section {
    flex-direction: row;
    margin: 100px 0;
  }

  .service {
    padding: 0 35px;
  }
}

@media (max-height: 600px) {
  .discount-container {
    display: none;
  }

  .hero-container {
    min-height: 550px;
  }

  .services-section {
    margin-top: 0px;
  }

  .hero-text {
    top: 0;
  }
}

/******************************************
/* VIDEO SECTION
/*******************************************/

.video-section {
  background-color: rgb(241, 241, 243);
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 45%;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  margin: 20px 0;
}

.video-text h2 {
  margin: 20px 0;
}

.video-text > span {
  margin: 20px 0;
  color: white;
  width: 35%;
  border-radius: 2px;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-thumbnail {
  position: relative;
  width: 100%;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
  .video-text > span {
    width: 20%;
  }
  .video-text {
    width: 80%;
    align-self: center;
  }
  .video-container {
    width: 90%;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .video-section {
    flex-direction: row;
  }
  .video-container {
    width: 80%;
    padding: 20px;
    align-self: center;
  }
}

/******************************************
/* STYLIST SECTION
/*******************************************/

.stylist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
  margin: 50px 0;
}

.stylist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stylist img {
  width: 80%;
}

.stylist > span {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 2;
  width: 60%;
  height: 80px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 700px) {
  .stylist-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
  }
  .stylist img {
    width: 85%;
  }
}

/******************************************
/* PROMOTIONAL SECTION
/*******************************************/

.offer-container {
  height: 500px;
  position: relative;
  display: flex;

  background: url(../assets/images/Promo-Banner-Image.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-bottom: 100px;
}

.promo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: 50px;
}

.promo-header {
  font-size: 1em;
}

.promo-p {
  font-size: 1.7em;
  margin: 30px 0;
}

.promo-span {
  font-size: 1.5em;
  font-weight: 700;
}

.promo-app-span {
  color: white;
  width: 15em;
  height: 5em;
  font-size: 0.8em;
}

@media (min-width: 960px) {
  .promo-div {
    width: 50%;
    font-size: 1.5rem;
  }
  .promo-app-span {
    width: 15em;
    height: 3em;
    font-size: 0.8em;
  }
}

/******************************************
/* LOOKBOOK SECTION
/*******************************************/

.lookbook-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 1s;
  padding: 5%;
}

.lookbook-container h2 {
  font-size: 3rem;
}

.lookbook-container hr {
  width: 50px;
  height: 5px;
  background-color: black;
  margin: 60px auto;
}

.lookbook-images {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.lookbook-item img {
  max-width: 100%;
}

@media (min-width: 700px) {
  .lookbook-item img {
    max-width: 90%;
  }
  .lookbook-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .short {
    grid-row: span 1;
    grid-column: span 1;
  }

  .tall {
    grid-row: span 2;
    grid-column: span 1;
  }
}

@media (min-width: 1024px) {
  .lookbook-item img {
    max-width: 100%;
  }
  .lookbook-images {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .short {
    grid-row: span 1;
    grid-column: span 1;
  }

  .tall {
    grid-row: span 2;
    grid-column: span 1;
  }

  .box-05 {
    grid-row: span 1;
    grid-column: 2 / span 1;
  }

  .box-06 {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
  }
}

/******************************************
/* FOOTER
/*******************************************/

footer {
  height: 50px;
  background-color: lightgrey;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
